/Branch/.idea/.idea.Branch/.idea/copilot.data.migration.agent.xml
/Branch/.idea/.idea.Branch/.idea/copilot.data.migration.ask.xml
/Branch/.idea/.idea.Branch/.idea/copilot.data.migration.ask2agent.xml
/Branch/.idea/.idea.Branch/.idea/encodings.xml
/Branch/.idea/.idea.Branch/.idea/indexLayout.xml
/Branch/.idea/.idea.Branch/.idea/misc.xml
/Branch/.idea/.idea.Branch/.idea/projectSettingsUpdater.xml
/Branch/.idea/.idea.Branch/.idea/vcs.xml
/Branch/.idea/.idea.Branch/.idea/workspace.xml
.DS_Store
Branch/Assets/_ExAsstes/
Branch/Assets/ExAsstes/
Branch/Assets/_ExAsstes.meta